Repository nikeokoronkwo/grayprint, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, cli, api

.github/labeler.yml:

'infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'cli':
  - changed-files:
    - any-glob-to-any-file: 'cli/**'

'api':
  - changed-files:
    - any-glob-to-any-file: ['packages/create/**', 'packages/core/**']

Create pr-title-checker.yml
  .github/workflows/pr-title-checker.yml
Labels: infra

Update cli.yml
  .github/workflows/cli.yml
Labels: infra

Create pr-title-checker-config.json
  .github/pr-title-checker-config.json
Labels: infra

Updated workflows
  .github/workflows/cli.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/workspace_bump.yml
Labels: infra

chore(infra, cli): Updates to infra and CLI
  .github/workflows/main.yml
  cli/main.ts
Labels: infra, cli

Basic scaffolding of User Authentication on device and via API
  cli/src/api/index.ts
  cli/src/user_config.ts
Labels: cli

scaffold test suite for CLI-Server Communication
  tests/web/server.test.ts
Labels: none

implement `UserConfiguration` in function
  cli/src/api/index.ts
Labels: cli

Update README.md
  README.md
Labels: none
